:host {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 32px 1fr 44px;
  padding: 16px;
  background: var(--dark-color);
  border: 1px solid var(--border-color);
  align-items: center;
}

.hidden-textarea {
  outline:none;
  resize: none;
  border: none;
  max-height: 70px;
  background: var(--dark-color);
  color: var(--light-color);

  &:hover,
  &:focus-visible {
    outline: 1px solid var(--primary-color);
  }
}

.send-message__btn:active:hover {
    transform: scale(1.1);
    background: var(--btn-hover-color);
}

:host.comment-input {
  border: 1px dashed var(--border-color);
  border-radius: 4px;
}
