:host {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  overflow-y: scroll;
}

.post-feed__wrapper {
  display: grid;
  grid-gap: 16px;
  margin-top: 15px;
  overflow-y: scroll;
}
