:host {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 32px 1fr;
  padding: 10px;
  background: var(--dark-color);
}

.comment-body {
  display: grid;
  grid-gap: 8px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-transparent-color);
}
