@if (message(); as message) {
  <app-avatar-circle
    class="size32"
    [avatarUrl]="message.user?.avatarUrl"
  ></app-avatar-circle>

  <div class="message-container">
    <strong class="medium-text mb8">
      {{ message.user?.firstName }}
      {{ message.user?.lastName }}
     <span>{{ message.createdAt | date: 'HH:mm'}}</span>
    </strong>
    <button
      type="button"
      class="post__actions-menu"
      (click)="onDeleteChatMessage(message.id)"
    >
      <svg icon="delete" class="svg16"></svg>
    </button>
    <div class="message-text medium-text">{{ message.text }}</div>
  </div>
}
