* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 16px;
}

.accordion {
    margin: 50px auto;
}

.faq__wrapper {
    display: grid;
    grid-gap: 10px;
}

.faq__item {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}

.faq__label {
    display: grid;
    place-content: center;
    width: 70px;
    min-height: 70px;
    padding: 8px 24px;
    font-size: 36px;
    background: #ffdd2d;
    color: #fff;
}

.number {

}

.answer {
    display: none;
    transform: rotate(-90deg);
}

.open .answer {
    display: block;
}

.open .number {
    display: none;
}

.faq__content {
    position: relative;
    width: 100%;
    padding: 24px 30px;
    border: 1px solid #e4e4e4;
    border-left: none;
}

.faq__content__text {
    max-height: 0;
    overflow: hidden;
}

.open .faq__content__text {
    margin-top: 24px;
    max-height: 1000px;
    transition: max-height 0.5s;
}

.faq__opener {
    position: absolute;
    top:26px;
    right: 40px;
    height: 2px;
    width: 21px;
    background: #636363;
}

.faq__opener::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 21px;
    background: #636363;
    transform: rotate(90deg);
}

.open .faq__opener::before {
    display: none;
}


