<div class="profile-card">
  <div class="avatar-name">
    <img
      src="/assets/images/avatar-placeholder.png"
      alt="avatar"
      class="profile-card__avatar"
    >
    <div class="profile-card__name">
      <strong class="">Райaн Гослинг</strong>
      <span class="">rayn</span>
    </div>
  </div>
  <div class="profile-card__description">
    <p>Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо</p>
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">React</div>
    <div class="skill-tag">Vue</div>
    <div class="skill-tag">JavaScript</div>
  </div>
  <div class="profile-card__action-buttons">
    <button class="btn btn-primary">Подписаться</button>
  </div>
</div>
