:host {
  display: flex;
  gap: 12px;
}

:host.is-mine {
  display: flex;
  justify-self: end;
  text-align: right;
  margin-bottom: 10px;

  .message-text {
    max-width: 250px;
    word-wrap: break-word;
    white-space: normal;
    padding: 8px;
    background: var(--primary-color);
    font-weight: 500;
    color: var(--light-color);
    width: min-content;
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
  }

  .message-container {
    justify-self: start;
    order: -1;
  }
}

.message-text {
  max-width: 250px;
  word-wrap: break-word;
  white-space: normal;
  padding: 8px;
  margin-bottom: 10px;
  background: var(--message-color);
  font-weight: 500;
  color: var(--light-color);
  width: min-content;
  clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
}

.post__actions-menu {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}
