.profile-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.to-settings-btn {
  width: 190px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-settings-icon {
  height: 16px;
  width: 16px;
}

.profile-page__body {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-gap: 64px;
  padding: 0 24px;
}

.subscribers-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.subscriber-avatar-btn {
  padding-top: 5px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}
.to-subscriber-search {
  border-radius: 50%;
  background: var(--light-color);
  width: 16px;
  height: 16px;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: var(--dark-color);
    top: 50%;
    left: 50%;
    width: 8px; /* Длина горизонтальной линии */
    height: 2px; /* Толщина линии */
    transform: translate(-50%, -50%);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.stack-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
